.main-title {
  text-align: center;
}

.main-logo {
  font-size: 80px;
  font-family: 'Lobster', cursive;
}

.side-title {
  font-size: 35px;
  font-family: 'Lobster', cursive;
}

.links {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.side-images {
  width: 40px;
  height: 40px;
}

.searchbar {
  text-align: center; 
  height: 40px; 
  font-size: 25px;
}

.main-data {
  font-size: 20px;
  padding-bottom: 15px;
}

.main-name {
  font-family: 'Lobster',
  cursive; font-size: 60px
}

.main-image {
  max-width: 550px;
  height: 425px;
  margin-bottom: 10px;
}

.main-tagline {
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.tab:hover {
  background-color: lightgrey;
}

.loginForm {
  background-color: lightgrey; 
  padding: 20px; 
  border-radius: 5px;
}
.loginSwitch {
  cursor: pointer;
}