<!-- RELATED ARTISTS SIDEBAR -->
<div class="col-sm-3 text-left">
  <div ng-show="artistData" class="side-title">Related Artists</div>
  <nav class="nav-sidebar">
    <div class="nav tabs">
      <div class="tab" ng-show="artistData" ng-repeat="artist in relatedArtists">
        <a ng-click="submitArtist(artist.name)">
          <span class="links">
            <img src="{{artist.image}}" class="side-images">
            {{artist.name}}
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>


<!-- MAIN PAGE THAT HOUSES SEARCH FUNCTIONALITY AND POPULARITY -->
<div class="col-md-6 text-center">
  <form name="artistForm" ng-submit="submitArtist()">
    <input type="text" 
      ng-model="artist.name" 
      placeholder="Search New Artist"
      class="searchbar">
  </form>
    <div ng-show="artistData" class="main-data">
      <h1 class="main-name">{{artistData.name}}</h1>
      <div>has a popularity rating of <strong>{{artistData.popularity}}/100</strong></div>
      <div>and has <strong>{{artistData.followers}}</strong> followers.</div>
      <br>
      <img ng-show="artistData"
        class="img-rounded main-image"
        src="{{artistData.image}}"
        >
      <strong><h1 class="main-tagline">Status: {{tagline}}</h1></strong>
    </div>
</div>

<!-- TOP TRACKS SIDEBAR -->
<div class="col-sm-3 text-right">
 <div ng-show="artistData" class="side-title">Top Tracks</div>
  <nav class="nav-sidebar">
    <div class="nav tabs">
      <div class="tab" ng-show="artistData" ng-repeat="track in topTracks">
        <a ng-click="playTrack(track.preview)">
          <span class="links">
            {{track.name}}
            <img src="{{track.albumCover}}" class="side-images">
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>