<div class="col-sm-3">
  <div ng-show="artistData" style="font-size: 20px;">Related Artists</div>
  <nav class="nav-sidebar">
    <div class="nav tabs">
      <div class="active" ng-show="artistData" ng-repeat="artist in relatedArtists">
        <a data-toggle="tab" ng-click="submitArtist(artist.name)">
          <span style="cursor: pointer;">
            <img src="{{artist.image}}" style="width: 40px; height: 40px;">
            {{artist.name}}
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>


<div class="col-md-6" style="text-align: center;">
  <form name="artistForm" ng-submit="submitArtist()">
    <input type="text" 
      ng-model="artist.name" 
      placeholder="Search New Artist"
      style="text-align: center; height: 40px; font-size: 30px;">
    </input>
  </form>
    <div ng-show="artistData" style="font-size: 20px; padding-bottom: 20px;">
      <h1>{{artistData.name}}</h1>
      <img ng-show="artistData"
        style="max-width: 550px; height: 425px; margin-bottom: 10px;"
        class="img-rounded"
        src="{{artistData.image}}"
        >
      <br>
      <div>has a popularity rating of <strong>{{artistData.popularity}}</strong></div>
      <div>and has <strong>{{artistData.followers}}</strong> followers.</div>
      <strong><h2>Status: {{tagline}}</h2></strong>
    </div>
</div>


<div class="col-sm-3 text-right">
<!--   <audio autoplay>
    <source src="{{trackPreview}}" type="audio/mpeg">
  </audio> -->
 <div ng-show="artistData" style="font-size: 20px;">Top Tracks</div>
  <nav class="nav-sidebar">
    <div class="nav tabs">
      <div class="active" ng-show="artistData" ng-repeat="track in topTracks">
        <a data-toggle="tab" ng-click="playTrack(track.preview)">
          <span style="cursor: pointer;">
            {{track.name}}
            <img src="{{track.albumCover}}" style="width: 40px; height: 40px">
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>